<!DOCTYPE html>
<html lang="en">
<head>
  <title>SVNIT Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <script src="{% static 'app.js' %}"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    <header>
      <section>
        <div class="" style="display:inline;">
          <img src="{% static 'logo.png' %}" alt="">
        </div>

        <div class="" style="display:inline; white-space:nowrap;">
          SVNIT Cloud Initiative
        </div>
      </section>

  </header>
  <br><br>
  <div class="container">
      {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger">
          <strong>Error!</strong> {{message}}
      </div>
      {% elif message.tags == 'success' %}
      <div class="alert alert-success">
          <strong>Success!</strong> {{message}}
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}
    {% block content %}
    {% endblock %}
  </div>

  <footer style="">
<i class="fa fa-copyright"></i> Copyleft Computer Engineering Department, SVNIT
</footer>

</body>
</html>
