{% extends 'cloud/base.html' %}
{% load static %}
{% block content %}

<div class="container" style="width:80%; overflow:auto;">

  <h2  align="center">Deploy Your App!</h2>

  <span class="box"><img src="{% static 'comp.png' %}" alt=""><div class="more">  <span class="swname">App1</span> </div></span>
  <span class="box"><img src="{% static 'comp.png' %}" alt=""><div class="more">  <span class="swname">App2</span> </div></span>
  <span class="box"><img class="plus" src="{% static 'plus.png' %}" alt="" data-toggle="modal" data-target="#formModal"><div class="more"> Add VM </div></span>
      <div class="modal fade" id="formModal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">VM Specifications</h4>
            </div>
            <div class="modal-body">
              <form method="POST" action="/login/">
                <div class="form-group">
                  {% csrf_token %}
                  <label for="link">Link to you Code(github):</label>
                  <input type="text" class="form-control" id="link" placeholder="Enter Link" name="link" value="">
                </div>
                <div class="form-group">
                  <label for="runc">Enter Run Command:</label>
                  <input type="text" class="form-control" id="runc" placeholder="Enter Run Command" name="runc" value="">
                </div>
                <br>
                <button type="submit" class="btn btn-submit" id="deploy">Submit</button>
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
</div>
{% endblock %}
