{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SVNIT Cloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <script src="{% static 'app.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style media="screen">
  footer {
  padding: 1em;
  position:fixed;
  left: 35%;
  bottom:0;
}

header {
    background-image: linear-gradient(to bottom right, rgb(96, 132, 217), rgb(142, 191, 219));
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

img{
  height: 100px;
  width: 100px;
}

form {
  border-style: solid;
  padding:3em;
  border-width: 1.2px;
}

button{
  background-color: rgb(50, 112, 219);
  color: white;
}


  </style>
</head>
<body>

    <header>
      <section>
        <div class="" style="display:inline;">
          <img src="{% static 'logo.png' %}" alt="">
        </div>

        <div class="" style="display:inline; white-space:nowrap;">
          SVNIT Cloud Initiative
        </div>
      </section>

  </header>
  <br><br>
<div class="container" style="width:30%">

  <h2  align="center">Cloud Enabled Lab</h2>
  <form onsubmit="return logUserIn()" style="">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" value="gogo">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" value="gogo123">
    </div>
    <br>
    <button type="submit" class="btn btn-submit" id="launch">Submit</button>
      </form>


    <footer style="">
  <i class="fa fa-copyright"></i> Copyleft Computer Engineering Department, SVNIT
</footer>

</body>
</html>

{% endblock %}
