{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <script src="{% static 'app.js' %}"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style media="screen">
  footer {
  padding: 1em;
  position:fixed;
  left: 35%;
  bottom:0;
}

header {
    background-color: #D3D3D3;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

img{
  height: 100px;
  width: 100px;
}
  </style>
</head>
<body>

    <header>
      <section>
        <div class="" style="display:inline;">
          <img src="{% static 'logo.png' %}" alt="">
        </div>

        <div class="" style="display:inline; white-space:nowrap;">
          SVNIT Cloud Initiative
        </div>
      </section>

  </header>
  <br><br>
<div class="container" style="width:30%">

  <h2  align="center">Cloud Enabled Lab</h2>
  <form onsubmit="return launchInstance()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" value="gogo">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" value="gogo123">
    </div>

    <div class="form-group">
      <label for="username">Instance Name:</label>
      <input type="text" class="form-control" id="instanceName" placeholder="Enter Instance Name" name="instanceName" value="test-webd">
    </div>

    <label>Flavor</label>
    <br>
    <label class="radio-inline"><input id="tiny" type="radio" name="flavor" value="tiny" checked>Tiny (RAM: 512MB, Root-Disk: 1GB, VCPUs: 1)</label>
    <br>
    <label class="radio-inline"><input id="small" type="radio" name="flavor" value="ds2G">ds2G  (RAM: 2GB, Root-Disk: 10GB, VCPUs: 2)</label>
    <!-- <label class="radio-inline"><input id="large" type="radio" name="flavor" value="large">Large</label> -->
    <br>
    <br>
    <label>OS type</label>
    <br>
    <label class="radio-inline" id="123"><input id="cirros" type="radio" name="image" value="cirros" checked>CirrOS</label>
    <label class="radio-inline"><input id="centos" type="radio" name="image" value="centos">CentOS</label>
    <label class="radio-inline"><input id="ubuntu" type="radio" name="image" value="ubuntu">Ubuntu</label>
    <br>
    <br>
        <button type="submit" class="btn btn-default" id="launch">Launch</button>
      </form>
      <div id="instanceUrl" style="margin: 20px; text-align: center;"></div>
    </div>
    <br><br>

    <footer style="">
  <i class="fa fa-copyright"></i> Copyleft Computer Engineering Department, SVNIT
</footer>

</body>
</html>

{% endblock %}
